$mainBgColor: #E8E6E6;

// navbar
$navBgColor: #373875;
$navButtonBgColor: #ffbb00;
$navButtonTextColorLighten: #fff;
$navButtonTextColorDarken: #000;
$navHoverLinkTextColor: #9EDCEF;
$navAddButtonHover: #63a8e0;

