<div class="sign-up">
    <div class="container">
        <div class="logo">
            <img class="picture" src="../../../../../assets/media/logo.png">
            <div class="text">ApexiBee</div>
        </div>
        <div class="back-home">
            <p-button [routerLink]="['/home']" [outlined]="true">{{ 'general.backHome' | translate }} </p-button>
        </div>
        <div class="form">
            <form [formGroup]="registrationForm" (ngSubmit)="register()">
                <div class="title">{{ 'general.signUp' | translate }} </div>
                <div class="subtitle">{{ 'auth.signUpInfo' | translate }} </div>
                <div class="form-inputs">
                    <input formControlName="email" type="email" pInputText [placeholder]="'auth.email' | translate">
                    <input formControlName="password" pInputText type="password" [placeholder]="'auth.password' | translate">
                    <input formControlName="passwordConfirm" pInputText type="password" [placeholder]="'auth.repeatPassword' | translate">
                    <div class="flex flex-justify-content-space-between">
                        <p-button type="submit">{{ 'general.signUp' | translate }}</p-button>
                        <p-button [routerLink]="['/sign','in']" [link]="true">{{ 'auth.gotoSignIn' | translate }}</p-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>